.messages {
    overflow: scroll;
    height: 400px;
}

.date {
    font-size: 10px;
    font-style: italic;
    color: gray;
}

.chat {
    margin-left: auto;
    margin-right: auto;
}

.chat-anim {
    z-index: 9999;
    height: 200px !important;
    top: 0;
    right: 50%;
}

.input-chat {
    border: 1px solid yellow;
    padding: 5px;
    font-weight: bold;
}
